@font-face {
  font-family: 'Lora';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/lora/static/Lora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/lora/static/Lora-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/lora/static/Lora-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/lora/static/Lora-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/lora/static/Lora-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/lora/static/Lora-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/lora/static/Lora-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/lora/static/Lora-BoldItalic.ttf') format('truetype');
}
