@font-face {
  font-family: 'Playfair Display';
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/playfair-display/PlayfairDisplay-Medium.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rajdhani';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/rajdhani/Rajdhani-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rajdhani';
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/rajdhani/Rajdhani-Light.ttf') format('truetype');
}
