/* h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
} */
